@import "tailwindcss";

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@layer global {
  :root {
    --a-fadeSlideIn: fadeSlideIn 400ms ease forwards;
  }

  ul,
  ol {
    list-style-type: none;
  }

  a:hover {
    color: var(--c-yellow);
  }

  footer div > ul a:hover {
    color: var(--c-light-grey);
  }

  .faq_hover > *:hover {
    background: var(--c-light-yellow);
  }
}

@layer typography {
  :root {
    --fs-13: 0.813rem; /* 13px */
    --fs-15: 0.9375rem; /* 15px */
    --fs-18: 1.125rem; /* 18px */
    --fs-20: 1.25rem; /* 20px */
    --fs-24: 1.5rem; /* 24px */
    --fs-32: 2rem; /* 32px */
    --fs-40: 2.5rem; /* 40px */
    --fs-48: 3rem; /* 48px */
    --fs-56: 3.5rem; /* 56px */

    --tracking-m-1: -0.112rem; /* -1.79px */
    --tracking-m-2: -0.089rem; /* -1.43px */
    --tracking-m-3: -0.067rem; /* -1.07px */
    --tracking-m-4: -0.056rem; /* -0.89px */
    --tracking-m-5: -0.05rem; /* -0.8px */

    --tracking-t-1: -0.156rem; /* -2.5px */
    --tracking-t-2: -0.134rem; /* -2.14px */
    --tracking-t-4: var(--tracking-m-3); /* -1.07px */

    --tracking-d-3: var(--tracking-m-1); /* -1.79px */
    --tracking-d-5: var(--tracking-m-3); /* -1.07px */
  }

  /* space-mono-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/space-mono-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* lexend-deca-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/lexend-deca-v25-latin-regular.woff2")
      format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body {
    font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  a {
    font-family: "Space Mono", Georgia, "Times New Roman", Times, serif;
  }

  h1 {
    font-size: var(--fs-40);
    letter-spacing: var(--tracking-m-1);
    line-height: 1;
  }
  h2 {
    font-size: var(--fs-32);
    letter-spacing: var(--tracking-m-2);
    line-height: 1;
  }
  h3 {
    font-size: var(--fs-24);
    letter-spacing: var(--tracking-m-3);
    line-height: 1.17;
  }
  h4 {
    font-size: var(--fs-20);
    letter-spacing: var(--tracking-m-4);
    line-height: 1.4;
  }

  h5 {
    font-size: var(--fs-18);
    letter-spacing: var(--tracking-m-5);
    line-height: 1.33;
  }

  h6 {
    font-size: var(--fs-18);
    line-height: 1.39;
  }

  p {
    font-size: var(--fs-15);
    line-height: 1.67;
  }

  @media (width >= 48rem) {
    h1 {
      font-size: var(--fs-56);
      letter-spacing: var(--tracking-t-1);
    }

    h2 {
      font-size: var(--fs-48);
      letter-spacing: var(--tracking-t-2);
    }

    h4 {
      font-size: var(--fs-24);
      letter-spacing: var(--tracking-t-4);
      line-height: 1.16;
    }
  }

  @media (width >= 90rem) {
    h5 {
      font-size: var(--fs-40);
      letter-spacing: var(--tracking-d-3);
      line-height: 1.2;
    }

    h6 {
      font-size: var(--fs-24);
      letter-spacing: var(--tracking-d-5);
      line-height: 1.17;
    }
  }
}

@layer color {
  :root {
    --c-white: #fff;
    --c-yellow: #fcb72b;
    --c-dark-navy: #495567;
    --c-dim-grey: #939caa;
    --c-light-grey: #e5ecf4;
    --c-snow: #f2f5f9;
    --c-light-yellow: #fff4df;
    --c-black-overlay: hsla(0, 0%, 0%, 0.75);
    --c-jet-black: #333a44;
  }
}

@layer button {
  .btn {
    min-width: 180px;
    height: 53px;
    background: var(--c-yellow);
    color: var(--c-white);
    border: none;
    font-size: var(--fs-15);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn:hover {
    background: var(--c-white);
    color: var(--c-yellow);
    border: 3px solid var(--c-yellow);
  }
}

@layer layout {
  :root {
    --wrapper-mobile: 1fr calc(100% - 4rem) 1fr;
    --wrapper-tablet-location: var(--wrapper-mobile);
    --wrapper-tablet-header: 1fr calc(100% - 5rem) 1fr;
    --wrapper-tablet-footer: var(--wrapper-tablet-header);
    --wrapper-tablet: 1fr calc(100% - 12rem) 1fr;
    --wrapper-desktop: 1fr calc(100% - 21rem) 1fr;
  }
}

@theme {
  /* Desktop Breakpoint */
  --breakpoint-xl: 90rem;
}
